<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>hello {{request.session.first_name}}</h1>
    <br>
    <a href="/travels/add"></a>
    <a href="/logout">logout</a>

    <br>
    <h3>Your Trip Schedules</h3>

    <table>
        <tr>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Plan</th>
        </tr>
        {% for i in mytrips %}
        <tr>
            <td><a href="/show/{{i.id}}">{{ i.destination }}</a></td>
            <td>{{ i.travel_start }}</td>
            <td>{{ i.travel_end }}</td>
            <td>{{ i.description }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h3>Other User's Travel Plans</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Do You Want to Join?</th>
        </tr>
        {% for i in othertrips %}
        <tr>
            <td>{{ i.planner.name }}</td>
            <td><a href="/show/{{i.id}}">{{ i.destination }}</a></td>
            <td>{{ i.travel_start }}</td>
            <td>{{ i.travel_end }}</td>
            <td><a href="/join/{{ i.id }}">Join</a></td>
        </tr>
        {% endfor %}
    </table>
    <p>{{ othertrips }}</p>
    <a href="/add">Add Travel Plan</a>
</body>
</html>
